<a href="https://colab.research.google.com/github/KhinMyoMyatKyaw1996/MMDT_T-PY101_Batch03/blob/main/KhinMyoMyatKyaw/Ex08_Lambda_Ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [3]:
from datetime import datetime

current_year = datetime.now().year

age = lambda year: current_year - year

print(age(1996))

30

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [4]:
price = lambda cost: cost * 1.10

print(price(100.0))

110.00000000000001

Q3) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [5]:
email = lambda name, domain: f"{name}@{domain}"
print(email("khin", "gmail.com"))

khin@gmail.com

Q4) Lambda in Data Science/Data Analysis

In [19]:
import pandas as pd

df = pd.read_csv("/rentals.csv")


# Q4.1) Create a new column called "size" where each entry is
# determined by the number of bathrooms: 'large' if the number of bathrooms is greater than 3, and 'small' otherwise.

import numpy as np

df["size"] = np.where(df["bathrooms"] > 3, "large", "small")




# -----------------------------------------------------------------#
# Q4.2) Creat a new column called "price_category" where
# Assign each entry as the following categories based on the price:
# If the price is greater than 100, the category should be 'premium'.
# Otherwise, the category should be 'standard'.

df["price"] = df["price"].replace('[\$,]', '', regex=True).astype(float)


df["price_category"] = np.where(df["price"] > 100, "premium", "standard")




# -----------------------------------------------------------------#
# Do not change the code below:
# Print the first five rows to see the data. You should have 11 columns

print(f"DataFrame has {df.shape[1]} columns")
df.head()

DataFrame has 11 columns

<>:22: SyntaxWarning: invalid escape sequence '\$'
<>:22: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipython-input-2741523507.py:22: SyntaxWarning: invalid escape sequence '\$'
  df["price"] = df["price"].replace('[\$,]', '', regex=True).astype(float)

,id,latitude,longitude,property_type,room_type,bathrooms,bedrooms,minimum_nights,price,size,price_category
0,958,37.76931,-122.43386,Apartment,Entire home/apt,1.0,1.0,1,170.0,small,premium
1,3850,37.75402,-122.45805,House,Private room,1.0,1.0,1,99.0,small,standard
2,5858,37.74511,-122.42102,Apartment,Entire home/apt,1.0,2.0,30,235.0,small,premium
3,7918,37.76669,-122.45250,Apartment,Private room,4.0,1.0,32,65.0,large,standard
4,8142,37.76487,-122.45183,Apartment,Private room,4.0,1.0,32,65.0,large,standard

In [ ]:
from google.colab import drive
drive.mount('/content/drive')